.left {
    width: 24%;
    height: 100%;
}
.middle {
    width:38%;
    height:100%;
}
.right {
    width: 38%;
    height: 100%;
}
.left-column, .right-column,.middle-column{
    height: 50%;
    box-sizing: border-box;
}
.left-column {
    padding:25px 20px 30px 40px
}
.middle-column {
    padding:25px 20px 30px 40px;
}
.right-column {
    padding: 25px 20px 30px 40px;
}

/* 雷达图 */
#raderMap .origin-border .horn .radar-map, #raderMap .origin-border .horn .radar-data {
    
    float: left;
    height: 100%;
}
#raderMap .origin-border .horn .radar-map {
    display: inline-block;
    width: 55%;
}
#raderMap .origin-border .horn .radar-data {
    display: table;
    width: 45%;
}

#raderMap .origin-border .horn .radar-data .radar-data-container {
    display: table-cell;
    vertical-align: middle;
}
#raderMap .origin-border .horn .radar-data .radar-data-item {
    display: inline-block;
    float: left;
    width: 50%;
    height: 60px;
    line-height: 60px;
}
#raderMap .origin-border .horn .radar-data .radar-data-item div{
    display: inline-block;
    float: left;
    width: 50%;
}
#raderMap .origin-border .horn .radar-data .radar-data-item [name=title] {
    font-size: 24px;
    color: #7498CE;
    text-align: right;
    padding-right: 15px;
}
#raderMap .origin-border .horn .radar-data .radar-data-item [name=value] {
    font-size: 30px;
    color:#FFFFFF;
}

/* 行业指标变化 */
#industryData .origin-border .horn .industry-icon {
    display: inline-block;
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 100px;
}
#industryData .origin-border .horn .industry-icon .industry-icon-item {
    display: inline-block;
    color: #FFFFFF;
    padding-left: 40px;
}
#industryData .origin-border .horn .industry-icon .industry-icon-item div{
    display: inline-block;
}
#industryData .origin-border .horn .industry-icon .industry-icon-item .industry-icon-item-color {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#industryData .origin-border .horn .industry-map {
    display: inline-block;
    width: 100%;
    height: 90%;
}
.right-column .origin-border .horn {
    padding: 55px 35px 35px 35px;
    height: 100%;
}
.left-column .origin-border .horn {
    padding: 55px 35px 35px 35px;
    height: 100%;
}
.middle-column .origin-border .horn {
    padding: 55px 35px 35px 35px;
    height: 100%;
}
.middle-time{
    position: absolute;
    right:60px;
    top:30px;
    color:#fff;
    font-size:24px;
}