/* 整体框架 */
.left {
    width: 27%;
    height: 100%;
}
.middle {
    width: 46%;
    height: 100%;
    overflow:hidden;
}
.right {
    width: 27%;
    height: 100%;
}
.left-column, .right-column {
    height: 50%;
    box-sizing: border-box;
}
.left-column {
    padding: 25px 20px 50px 40px;
}
.right-column {
    padding: 25px 40px 50px 20px;
}

#index {
    height: 60%;
    width:100%;
    position: relative;
    top:-40px;
}
/* .tran{
    animation:translate 1s;
}
@keyframes translate{
    0%{
        transform:translate(-50%);
    }
    50%{
        transform:translate(-100%);
    }
    100%{
        transform:translate(0%);
    }
} */

#indexChange {
    height: 40%;
}

#operateIndex {
    height: 50%;
}

#riskMap {
    height: 50%;
}

/* 导航图标样式 */

.nev-container {
    height: 60%;
}

#companyData {
    height: 40%;
    
}
#industryIcon {
    /* width:50%;    */
    margin:0 auto;
    height: 100%;
    color: #7498CE;
    position: relative;
    background:url(../img/3d-bg.png) center no-repeat;
    background-size:auto 100%;
}
#industryIcon .icon-item {
    position: absolute;
    width:450px;
    height: 516px;
}
#industryIcon .icon-item .image {
    position: relative;
}
#industryIcon .icon-item .cicle {
    width: 450px;
    height: 450px;
  /*  -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    -webkit-transition:-webkit-transform 1s linear;
    transition:transform 1s linear;*/
    -webkit-animation: circle 5s linear 1s 5 alternate;
    animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#industryIcon .icon-item .icon {
    width: 200px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#industryIcon .icon-item .title {
    text-align: center;
    font-size: 50px;
}

.icons-wrap{
    display:none;
}

 .swiper-container3 {
    margin:0 auto;
    width: 1000px;
    height: 100%;
  }
  .swiper-wrapper {
      margin-top:120px;
  }
.swiper-container3 .swiper {
    color: #6a8bbe;
    font-size: 24px;
    text-align: center;
  }
.swiper-container3 .swiper .data-number {
    display: none;
    padding-top: 20px;
    color: #5789b0;
  }
.swiper-container3 .swiper .data-number span {
    font-size: 28px;
  }
.swiper-container3 .swiper1 img {
    background: url("../img/icon-swiper1.png") no-repeat center center;
    background-size: 50%;
  }
.swiper-container3 .swiper2 img {
    background: url("../img/icon-swiper2.png") no-repeat center center;
    background-size: 50%;
  }
.swiper-container3 .swiper3 img {
    background: url("../img/icon-swiper3.png") no-repeat center center;
    background-size: 50%;
  }
.swiper-container3 .swiper4 img {
    background: url("../img/icon-swiper4.png") no-repeat center center;
    background-size: 50%;
  }
  .data-numbers {
    color: #86cef6;
    /* display: none; */
    white-space: nowrap;
    margin-top: 20px;
  }
  .data-numbers span {
    font-size: 28px;
    color: #86cff6;
    margin-left: 28px;
  }
  .swiper-slide {
    padding-left: -40px;
    padding-right: -40px;
  }
/* #industryIcon {
    height: 60%;
    background-image: url("../img/2kkn.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    color: #7498CE;
    position: relative;
}


#industryIcon .icon-item {
    position: absolute;
    
}

#industryIcon .icon-item[index="0"] {  
    
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, 0%);
}

#industryIcon .icon-item[index="1"] { 
    left: 23%;
    top: 58%;
    transform: translate(-50%, -50%) scale(0.7);
}


#industryIcon .icon-item[index="2"] { 
    left: 15%;
    top: 34%;
    transform: translate(-50%, -70%) scale(0.5);
}

#industryIcon .icon-item[index="3"] { 
    left: 35%;
    transform: translate(-50%, -33%) scale(0.4);
}

#industryIcon .icon-item[index="10"] { 
    left: 50%;
    top: 55px;
    transform: translate(-50%, 0%);
    width: 50px;
    height: 50px;
}

#industryIcon .icon-item[index="4"] { 
    right: 35%;
    transform: translate(50%, -33%) scale(0.4);
}


#industryIcon .icon-item[index="5"] { 
    right: 15%;
    top: 34%;
    transform: translate(50%, -70%) scale(0.5);
}

#industryIcon .icon-item[index="6"] { 
    right: 23%;
    top: 58%;
    transform: translate(50%, -50%) scale(0.7);
}

#industryIcon .icon-item .title {
    text-align: center;
    font-size: 50px;
}

#industryIcon .icon-item .cicle{
    width: 450px;
    height: 450px;
}

#industryIcon .icon-item .image {
    position: relative;
}
#industryIcon .icon-item .icon{
    width: 200px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#industryIcon .icon-item[index="7"] {
    bottom: 360px;

}
#industryIcon .icon-item[index="8"] {
    bottom: 160px;
    
}
#industryIcon .icon-item[index="9"] {
    bottom: -40px;
    
}
#industryIcon .icon-item[index="7"], #industryIcon .icon-item[index="8"], #industryIcon .icon-item[index="9"] {
    right: 0px;
    width: 240px;
    height: 240px;
}

#industryIcon .icon-item[index="7"] .cicle, #industryIcon .icon-item[index="8"] .cicle, #industryIcon .icon-item[index="9"] .cicle{
    display: none;
}

#industryIcon .icon-item[index="7"] .title, #industryIcon .icon-item[index="8"] .title, #industryIcon .icon-item[index="9"] .title{
    font-size: 20px;
    margin-top: 55px;
}

#industryIcon .icon-item[index="7"] .icon, #industryIcon .icon-item[index="8"] .icon, #industryIcon .icon-item[index="9"] .icon{
    width: 100px;
    height: 125px;

} */


#indexChange .origin-border .horn .item-container {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
}

/* 滚动数据 */
#companyData {
    padding: 0px 100px 40px 20px;
}

.table-container table>tbody>tr>td, 
.table-container table>tbody>tr>th {
    border-bottom: 2px solid #0b41a5;
}

.table-container table thead tr th:first-child{
    text-align: center;
}

.table-container table tbody tr td.rank{
    color: #7498ce;
    text-align: center;
}

.table-container table tbody tr td.white{
    color: #fff;
}

.table-container table tbody tr td.blue{
    color: #7498ce;
}

.table-container table tbody tr td.level{
    color: #cd4954;
    font-style: italic
}

/* 运行指数 */
#operateIndex .item-container {
    width: 100%;
    height: 100%;
    padding: 100px 10px 40px 40px;
    margin-left: -50px;

}

#operateIndex .item-container>div{
    display: inline-block;
    float: left;
    height: 100%;
}

#operateIndex .item-container .data-container {
    width: 50%;
    position: relative;
    top:30px;
}

#operateIndex .item-container .canvas-container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#operateIndex .item-container .icon-container {
    width: 50%;
    position: relative;
}
#operateIndex .item-container .icon-container .icon-item-list{
    position: absolute;
    left: 0;
    top: 50%;
    width:100%;
    transform: translate(0, -50%);
}
#operateIndex .operate-item {
    width: 50%;
    color: #FFFFFF;
    padding-bottom: 15px;
    padding-right: 15px;
    float: left;
}
#operateIndex .operate-item div {
    display: inline-block;
    vertical-align: middle
}

#operateIndex .operate-item .icon{
    width: 35%;
}
#operateIndex .operate-item .name{
    width: 45%;
    font-size: 18px;
    height: 49px;
    line-height: 49px;
}
#operateIndex .operate-item .value{
    width: 20%;
    font-size: 28px;
    height: 49px;
    line-height: 49px;
}

/* 运行风险分布图 */
#riskMap .origin-border .horn .item-container {
    width: 100%;
    height: 100%;
    padding: 80px 40px 0px 40px;
}