html {
    width: 3840px;
    height:100%;
}
body{
    height: 100%; 
    width: 100%;
    background-image: url("../img/view3-bg.jpg");
    font-family: '微软雅黑';
    margin: 0px 0px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    /* overflow: hidden; */
}
* {
    box-sizing: border-box;
}

.header {
    width : 100%;
    height : 10%;
    margin: 0px;
}
.header .logo{
    width: 100%;
    text-align: center;
}
.main-body {
    width : 100%;
    height : 90%;
    overflow: hidden;
    padding-top:14px;
}

.left, .middle , .right{
    float:left;
}

/* 行业指标 */
#index .origin-border .horn .item-container {
    width: 100%;
    height: 100%;
    padding: 66px 40px 0px 40px;
}
#index .origin-border .horn .item-container div[name=indexItem]{
    display: inline-block;
    float: left;
    width: 33.3%;
    padding-bottom: 18px;
}

#index .origin-border .horn .item-container div[name=indexItem]>div {
    display: inline-block;
    float: left;
}

#index .origin-border .horn .item-container div[name=indexItem] .image {
    width: 30%;
}


#index .origin-border .horn .item-container div[name=indexItem] .image .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #006cf6;
    box-shadow: 0 0 2px #0a3fbf, 0 0 20px #0a3fbf inset;
    border-radius: 50%;
    position: relative;
}

#index .origin-border .horn .item-container div[name=indexItem] .image .icon .background {
    width: 65%;
    height: 65%;
    background: #0e2568;
    border-radius: 50% / 50%;
    position: absolute;
    z-index: -1;
    filter: blur(10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#index .origin-border .horn .item-container div[name=indexItem] .text {
    width: 70%;
}

#index .origin-border .horn .item-container div[name=indexItem] .text div[name=value] {
    color: #FFFFFF;
    font-size: 26px;
}

#index .origin-border .horn .item-container div[name=indexItem] .text div[name=name] {
    color: #7498CE;
    font-size: 20px;
}

.card {
    perspective: 1000;
    -webkit-perspective: 1000;
    width: 100%;
    height:100%;
 
}
.face{
    width: 100%;
    height:100%;
    position: absolute;
    border-radius:5px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    background:url('../img/repeat-bg.png') repeat;
   
}
.front {
    z-index: 10;
   
}
.back{
    width: 100%;
    height:100%;
    transform:rotate3d(0,1,0,-180deg);
    -ms-transform:rotate3d(0,1,0,-180deg);	/* IE 9 */
    -moz-transform:rotate3d(0,1,0,-180deg);	/* Firefox */
    -webkit-transform:rotate3d(0,1,0,-180deg); /* Safari 和 Chrome */
    -o-transform:rotateY(0,1,0,-180deg);	/* Opera */
    z-index: 8;
}
.card-flipped .front{
    transform:rotate3d(0,1,0,180deg);
    -ms-transform:rotate3d(0,1,0,180deg);/* IE 9 */
    -moz-transform:rotate3d(0,1,0,180deg);/* Firefox */
    -webkit-transform:rotate3d(0,1,0,180deg);/* Safari 和 Chrome */
    -o-transform:rotate3d(0,1,0,180deg);	/* Opera */
    z-index: 8;
}
.card-flipped .back{
    transform:rotate3d(0,1,0,0deg);
    -ms-transform:rotate3d(0,1,0,0deg);/* IE 9 */
    -moz-transform:rotate3d(0,1,0,0deg);/* Firefox */
    -webkit-transform:rotate3d(0,1,0,0deg);/* Safari 和 Chrome */
    -o-transform:rotate3d(0,1,0,0deg);	/* Opera */
    z-index: 10;
}