<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td rowspan="2">企业</td>
                <td colspan="2">流入资金</td>
                
                <td>流出资金</td>
            </tr>
            <tr>
               
                <td>当期回收金额</td>
                <td>融资金额</td>
                <td>当期发放金额</td>
            </tr>
        </thead>
    </table>
</body>
</html>