<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >

<html>
<head>
    <meta charset="utf-8">
    <title>海南省地方金融质控中心</title>
    <!-- 引入 echarts.js -->
    <script src="lib/jquery-3.3.1.js"></script>
    <script src="lib/echarts.js"></script>
    <script src="js/util.js"></script>
    <script src="js/view1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/all.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/view1.css">
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" type="text/css" href="css/component.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/logo.jpg"/>
            <p class="middle-time">统计截止 2018-08-14  18:00</p>
        </div>
        
    </header>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <section class="main-body">
        <div class="left">
                <div class="left-column" id="leftColumn1">
                        <div class="origin-border">
        
                        </div>
                    </div><!--左一 P2P网贷交易数据--> 
                    <div class="left-column" id="leftColumn2">
                        <div class="origin-border">
        
                        </div>
                    </div><!--左二 小额贷款公司交易数据--> 
        </div>
        <div class="right">
            <div class="right-column" id="rightColumn1">
                <div class="origin-border">

                </div>
            </div><!--右1 P2P网贷交易数据--> 
            <div class="right-column" id="rightColumn2">
                <div class="origin-border">

                </div>
            </div><!--右2 小额贷款公司交易数据--> 
        </div>
    </section>
    
    <script type="text/javascript">
        // 框架渲染
        renderFrame();
        // 渲染数据
        renderData();
    </script>
</body>
</html>